<div class="user-warapper">
  <h2 class="heading">確認メールの再送信</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="back-contents">
      <button class="button back-btn base-color"><%= link_to "⬅︎", :back %></button>
      <%= f.submit "確認メールの再送信する",class: "base-color button" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
