<div class="user-warapper">
  <h2 class="heading">ユーザー新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if @user.errors.any? %>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      <% if @user.errors.include?(:name) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:name).first %>
      <% end %>
    </div>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% if @user.errors.include?(:email) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:email).first %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @user.errors.include?(:password) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:password).first %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <% if @user.errors.include?(:password_confirmation) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:password_confirmation).first %>
      <% end %>
    </div>

    <div class="actions">
      <button class="button back-btn base-color"><%= link_to "⬅︎", :back %></button>
      <%= f.submit "新規登録をする", class: "base-color button" %>
    </div>
  <% end %>
</div>
