<div class="user-warapper">
  <div class="edit-contents">
    <h2 class="heading">プロフィール編集</h2>
    <%= form_with(model: @user, local: true) do |f| %>
      <div class="img-contents">
        <div class="user-icon">
          <% if @user.icon_image.attached?  %>
            <%= image_tag @user.icon_image.variant(resize: '200x200'), alt: "ユーザーアイコン" %>
          <% else %>
            <%= image_tag src='default.png', alt: "ユーザーアイコン" %>
          <% end %>
        </div>
        <div><%= f.file_field :icon_image %></div>
      </div>
      <div>
        <%= f.label :name, "ユーザー名" %>
        <%= f.text_field :name, class: "profile-name" %>
      </div>
      <div>
        <%= f.label :my_rule, "Myルール" %>
        <%= f.text_area :my_rule, rows: 5, col: 40, class: "profile-intro" %>
      </div>
      <div class="back-contents">
        <button class="link-btn back-btn base-color"><%= link_to "⬅︎", :back %></button>
        <%= f.submit "保存", class: "link-btn base-color save"%>
      </div>
    <% end %>
  </div>
</div>
