<div class="prof-warapper">
  <div class="prof-container">
    <div class="back-contents">
      <div class="back-content">
        <button class="button back-btn base-color"><%= link_to "РгЁ№Иј", :back %></button>
      </div>
      <div class="account-content">
        <p>­ЪЉЄEсЃАсЃ╝сЃФсЃ╗сЃЉсѓ╣сЃ»сЃ╝сЃЅсЂ«уиежЏєсЂ»сЂЊсЂАсѓЅ­ЪЉЄ</p>
        <button class="button base-color"><%= link_to"сѓбсѓФсѓдсЃ│сЃѕсѓњуиежЏєсЂЎсѓІ",edit_user_registration_path, class: "link" %></button>
      </div>
    </div>
    <table class="prof-contents">
      <h2>MyсЃЌсЃГсЃЋсѓБсЃ╝сЃФ</h2>
      <tbody class="prof-content">
        <tr>
          <th></th>
           <th class="prof-name">сЃдсЃ╝сѓХсЃ╝тљЇ</th>
           <th>MyсЃФсЃ╝сЃФ</th>
        </tr>
        <tr>
          <td>
            <% if @user.icon_image.attached?  %>
              <%= image_tag @user.icon_image, class: "user-icon", alt: "сЃдсЃ╝сѓХсЃ╝сѓбсѓцсѓ│сЃ│", size: "200x200" %>
            <% else %>
              <%= image_tag src='default.png', class: "user-icon", alt: "сЃдсЃ╝сѓХсЃ╝сѓбсѓцсѓ│сЃ│", size: "200x200" %>
            <% end %>
          </td>
          <td><p><%= @user.name %></p></td>
          <td><textarea class="prof-rule-textarea" disabled><%= @user.my_rule %></textarea></td>
           <td class="btn-contents">
            <% if user_signed_in? && @user == current_user && @user.name != "сѓ▓сѓ╣сЃѕ" %>
              <button class="button prof-edit-btn"><%= link_to 'уиежЏєсЂЎсѓІ',edit_user_path(@user),class: "link" %></button>
              <button class="button destory-btn"><%= link_to 'тЅіжЎцсЂЎсѓІ',edit_user_path(@user),class: "link" %></button>
             <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
