<div class="user-warapper">
  <div>
    <%= render 'shared/flash_message', class: "flash" %>
  </div>
  <div class="prof-container">
    <div class="prof-contents">
      <div class="profile-card">
        <div class="profile-card__inner">
          <div class="user-icon">
            <% if @user.present? && @user.icon_image.attached?  %>
              <% if @user.email == 'guest@example.com' %>
                <%= image_tag 'guest_icon.png', alt: "ゲストユーザーアイコン" %>
              <% else %>
                <%= image_tag url_for(@user.icon_image), alt: "ユーザーアイコン" %>
              <% end %>
            <% else %>
              <%= image_tag 'default.png', alt: "ユーザーアイコン" %>
            <% end %>
          </div>
          <span class="profile-name"><%= @user.name %></span>
        </div>
      </div>
      <div class="profile-content">
        <div class="profile-intro"><%= @user.my_rule %></div>
        <div class="btn-contents">
          <% if user_signed_in? && @user == current_user && @user.name != "ゲスト" %>
            <button class="link-btn prof-edit-btn"><%= link_to '編集する', edit_user_path(@user), class: "link" %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-container">
    <ul class="tabs">
      <li class="tab tab-active" data-tab="reviews">レビュー</li>
      <li class="tab" data-tab="favorites">お気に入り</li>
      <li class="tab" data-tab="visited-places">行きたいリスト</li>
    </ul>
    <div class="tab-content">
      <div id="reviews" class="tabbox box-show">
        <div class="user-review-content">
          <ul>
            <% if @user_reviews.present? %>
              <% @user_reviews.each do |user_review| %>
                <li>
                  <div class="user-post-item">
                    <div class="post-place-name">
                      <%= link_to user_review.name, facility_path(user_review.facility.id), class: "post-place-name user-post-name" %>
                    </div>
                    <div class="user-post">
                      <h3 class="post-title"><%= user_review.title %></h3>
                      <p class="post-review"><%= user_review.review %></p>
                    </div>
                     <div class="user-post-bottom">
                        <% if current_user && current_user == user_review.user %>
                          <%= button_to '削除', post_path(user_review.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'link-btn destroy-btn' %>
                        <% end %>
                        <div class="post-time"><%= time_ago_in_words(user_review.created_at) %>前</div>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="favorites" class="tabbox">
        <div class="favorite-content">
          <% if @favorites.present? %>
            <table class="tab-table">
              <tbody>
                <% @favorites.each do |favorite| %>
                  <tr>
                    <td>
                      <h5><%= link_to favorite.facility.name, facility_path(favorite.facility.id), class: "post-place-name user-post-name" %></h5>
                    </td>
                    <td><p><%= favorite.facility.address %></p></td>
                    <td>
                      <% if current_user %>
                        <% if favorite.facility.favorited_by?(current_user) %>
                          <%= button_to "削除する",  favorite_facility_path(favorite.facility), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'link-btn destroy-btn' %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
      <div id="place_visits" class="tabbox">
        <div class="place-visit-content">
          <% if @place_visits.present? %>
            <table class="tab-table">
              <tbody>
                <% @place_visits.each do |place_visit| %>
                  <tr>
                    <td>
                      <h5><%= link_to place_visit.facility.name, facility_path(place_visit.facility.id), class: "post-place-name user-post-name" %></h5>
                    </td>
                    <td><p><%= place_visit.facility.address %></p></td>
                    <td>
                      <% if current_user %>
                        <% if place_visit.facility.place_visited_by?(current_user) %>
                          <%= button_to "削除する",  place_visit_facility_path(place_visit.facility), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'link-btn destroy-btn' %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="back-contents">
      <div class="back-content">
        <button class="link-btn back-btn base-color"><%= link_to "⬅︎", 'javascript:history.back()' %></button>
      </div>
      <div class="account-content">
        <% if user_signed_in? && @user == current_user && @user.name != "ゲスト" %>
          <p>👇Eメール・パスワードの編集はこちら👇</p>
          <button class="link-btn base-color"><%= link_to"アカウントを編集する",edit_user_registration_path, class: "link edit-ac" %></button>
        <% end %>
      </div>
    </div>
</div>
