<div class="user-warapper">
  <h2 class="heading">パスワード再発行</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
    </div>
    <div class="actions back-contents">
      <button class="button back-btn base-color"><%= link_to "⬅︎", :back %></button>
       <%= f.submit "パスワードを再発行する", class: "base-color button" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
