<div class="header-container">
  <header>
    <div class="header-left">
      <%= image_tag 'sauna-logo.png', alt:'ロゴ', class: "img header-logo"%>
      <h2><%= link_to 'サウナログ',root_path, class: "link" %></h2>
    </div>
    <div class="header-right">
      <div>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'マイページ', user_path(current_user), class: "header-list link" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-list link" %></li>
          <% else %>
            <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "header-list link"%></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "header-list link" %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: "header-list link" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
</div>
