<div class="mainpage-header-container">
  <div class="slide">
    <div class="slide-img"></div>
    <div class="slide-img"></div>
    <div class="slide-img"></div>
    <div class="slide-img"></div>
    <div class="slide-img"></div>
  </div>
  <div class="header-inner">
    <p class="header-inner-text">
      全国のサウナ施設をキーワードや都道府県、市区町村で検索ができる！<br>
      気に入ったサウナをお気に入りに保存！<br>
      自分だけのサウナリストを作ろう！
    </p>
    <%= render 'shared/search' %>
  </div>
</div>
<div class="review-container">
  <div>
    <%= render 'shared/flash_message' %>
  </div>
  <div class="review-contents">
    <ul>
      <% @posts.each do |post| %>
        <li class="post-item">
          <div class="user-info">
            <div class="user-icon">
              <% if post.user.present? && post.user.icon_image.attached?  %>
                <% if post.user.email == 'guest@example.com' %>
                  <%= image_tag 'guest_icon.png', alt: "ゲストユーザーアイコン" %>
                <% else %>
                  <%= image_tag url_for(post.user.icon_image), alt: "ユーザーアイコン" %>
                <% end %>
              <% else %>
                <%= image_tag 'default.png', alt: "ユーザーアイコン" %>
              <% end %>
            </div>
            <div class="user-name"><%= post.user.name %></div>
          </div>
          <div class="post-content">
            <div class="post-place-name">
              <%= link_to post.name, facility_path(post.facility.id), class: "post-place-name" %>
            </div>
            <h3 class="post-title"><%= post.title %></h3>
            <p class="post-review"><%= post.review %></p>
            <div class="post-time"><%= time_ago_in_words(post.created_at) %>前</div>
          </div>
          <div class="like-section" id="like_buttons_<%= post.id %>">
            <%= render 'review_likes/review_like', post: post %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
