<div class="facilityーlist-warapper">
  <div class="facility-list-container">
    <div>
      <%= render 'shared/flash_message' %>
    </div>
    <div class="search-contents">
      <%= render 'shared/search' %>
    </div>
    <div class="list-contents">
      <div id='map' class="map"></div>
      <div class="facility-lists">
        <table>
          <tbody>
            <%if @places.present?%>
              <% @places.each do |place|%>
                <% facility = Facility.find_by(name: place.name, address: place.formatted_address) %>
                  <% if facility %>
                  <tr>
                    <td class="facility-name">
                      <span class="list-item" data-lat="<%= place.lat %>" data-lng="<%= place.lng %>"><%= place.name %></span>
                    </td>
                    <td class="facility-detail" >
                      <%= link_to "施設情報", facility_path(facility.id) %>
                    </td>
                    <td>
                      <% if current_user %>
                        <%= link_to "+", new_post_path(place_id: place.place_id), class: "link review-button" %>
                        <p class="speech-bubble">新しいレビューを投稿する</p>
                      <% end %> 
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script>
