<div class="facility-detail-warappwer">
  <div class="facility-detail-container">
    <div>
      <%= render 'shared/flash_message' %>
    </div>
    <div>
      <h1><%= @facility.name %></h1>
      <p><%= @facility.address %></p>
    </div>
    <% if user_signed_in? %>
      <div class="favorite" id="favorite_buttons_<%= @facility.id %>">
        <%= render 'favorites/favorite', facility: @facility %>
      </div>
    <% end %>
  </div>
</div>
